api/node_modules
email/node_modules
sms/node_modules
whatsapp/node_modules
filter/node_modules
*.node_modules

api/dist
email/dist
sms/dist
whatsapp/dist
filter/dist

.env
*.env
api/.env
email/.env
sms/.env
whatsapp/.env
filter/.env